.places {
  display: grid;
  max-width: 984px;
  padding-left: 148px;
  padding-right: 148px;
  gap: 80px;
  padding-top: 92px;
    
}

@media screen and (max-width: 1100px) {
  .places {
    padding: 0 48px;
  }
}

@media screen and (max-width: 1020px) {
  .places  {
    padding: 88px 24px 0;
    gap: 73px;
  }
}

@media screen and (max-width: 760px) {
  .places  {
    padding: 64px 0 0;
  }
}