.intro {
    align-self: flex-start;
    max-width: 984px;
    padding-left: 148px;
    padding-right: 148px;
    padding-top: 114px;
}

@media screen and (max-width: 1100px) {
    .intro {
      padding-top: 92px;
      padding-left: 48px;
      padding-right: 48px;
    }
  }

  @media screen and (max-width: 1020px) {
    .intro {
      padding-top: 88px;
      padding-left: 24px;
      padding-right: 24px;
    }
  }

  @media screen and (max-width: 760px) {
    .intro {
      padding-top: 64px;
      padding-left: 16px;
      padding-right: 16px;
    }
  }
