.intro__list-text {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    margin: 0;
}


@media screen and (max-width: 760px) {
    .intro__list-text {
      max-width: 288px;
    }
  }