.photo-grid__items {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;

}

@@media screen and (max-width: 1270px) {
  .photo-grid__items  {
    gap: 14px;
  }
}

@media screen and (max-width: 1020px) {
  .photo-grid__items  {
    gap: 16px;
  }
}

@media screen and (max-width: 760px) {
  .photo-grid__items  {
    gap: 12px;
  }
}