.cover__title {
    text-decoration: none;
    margin: 0;
    max-width: 560px;
    font-size: 72px;
    font-style: normal;
    font-weight: bold;
    line-height: 76px;
    text-align: center;
    border: solid 1px red;
    

}