.footer {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 92px 48px 24px;
}


@media screen and (max-width: 1020px) {
  .footer {
    padding-top: 88px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 760px) {
  .footer {
    padding: 64px 0 0 16px;
    flex-direction: column;
  }
}